.custom-filled-input {
  width: 100%;

  &__container {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #5e6488;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: none;
    outline: none;
    transition: border-color 0.2s ease-in-out;

    &--focused {
      border-color: #5e6488;
    }

    &--invalid {
      border-color: #e53e3e;
    }

    &--no-right-border {
      border-right: none;
    }
  }

  &__label {
    position: absolute;
    left: 12px;
    pointer-events: none;
    transition: all 0.2s ease-out;
    color: #03050f;
    font-size: 16px;
    padding: 0;
    z-index: 1;
    background-color: transparent;
    top: 50%;
    transform: translateY(-50%);

    &--shrunk {
      top: 4px;
      transform: translateY(0);
      font-size: 12px;
      padding: 0 4px;
      background-color: white;
    }

    &--focused {
      color: #5e6488;
    }

    &--invalid {
      color: #e53e3e;
    }
  }

  &__input,
  &__select {
    padding: 16px;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'BRSonoma-Regular';
    height: 56px;
    color: #03050f;
    border-radius: 8px;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #03050f;
    }
  }

  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    option {
      background-color: white;
      color: #03050f;
    }
  }

  &__input--shrunk {
    padding-top: 20px;
  }

  &__arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__helper-text {
    color: #e53e3e;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 8px;
    font-weight: bold;
    padding-left: 12px;
  }
}