.registration-form {
  &__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__checkbox__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
  }

  &__checkbox__label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    color: #0A051E;
    user-select: none;
    padding-left: 36px;
    min-height: 20px;
    letter-spacing: 0.1px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border: 2px solid #0A051E;
      border-radius: 4px;
      background-color: #ffffff;
    }

    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 10px;
      border: solid #ffffff;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      opacity: 0;
    }
  }

  &__checkbox__input:checked+&__checkbox__label {
    &::before {
      background-color: #0A051E;
      border-color: #0A051E;
    }

    &::after {
      opacity: 1;
      transform: rotate(45deg);
      left: 6px;
    }
  }

  &__button {
    width: 100%;
    padding: 20px 40px;
    background-color: #03050F;
    color: #ffffff;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: BRSonoma-Bold, sans-serif;

    @media (min-width: 768px) {
      width: auto;
    }
  }

  &__terms-link {
    font-size: 12px;
    color: #03050F;
    font-family: BRSonoma-SemiBold, sans-serif;
  }

  &__error-message {
    padding: 12px;
    margin-top: 16px;
    font-size: 14px;
    color: #9a0007;
    background-color: #ffe0e1;
    border: 1px solid #ffb3b8;
    border-radius: 4px;
    text-align: center;
  }
}